<div class="container" id="entryList">
<div class="row" >

<!-- Add a movies-only filter to the list by inserting ' | movieness ' after *ngFor="let currentEntry of childEntryList" -->
  <div class="card" style="width: 222px; float: left" *ngFor="let currentEntry of childEntryList">
    <img class="card-img-top" src="{{currentEntry.image}}">
    <h6 class="card-title" >{{currentEntry.title}} </h6>
    <h3 [class]="scoreColor(currentEntry)" style=" padding: 10px; color: white">{{currentEntry.metascore}}</h3>
    <p>{{currentEntry.creator}}</p>
    <p>{{currentEntry.releaseDate}}</p>
    <p class="card-text">{{currentEntry.description}}</p>
    <button class="btn btn-outline-secondary" (click)="editButtonClicked(currentEntry)">Edit</button>
  </div>


</div>
</div>
