
<div class="container" *ngIf="entryObject != undefined">
  <div class="row">
    <div class="col-md-12">
      <div class="panel" style="text-align: center">
        <img  src="{{(entryToDisplay | async)?.image}}" style="height: 250px; width: 200px" alt="">
        <div class="panel-body">
          <h3>{{(entryToDisplay | async)?.title}}</h3>
          <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
              <h6 [class]="scoreColor(entryToDisplay)" style=" margin: 10px; color: white; font-size: 40px" >{{(entryToDisplay | async)?.metascore}}</h6>
            </div>
            <div class="col-md-5">

            </div>
          </div>
          <h6><strong>{{(entryToDisplay | async)?.creator}}</strong></h6>
          <h6>{{(entryToDisplay | async)?.releaseDate}}</h6>
          <p>{{(entryToDisplay | async)?.description}}</p>
          <hr style="border-color: gold">
        </div>

      </div>
      <h3 style="text-align: center" *ngIf="currentRoute != '/'"> <a routerLink="/">Back to Main</a> </h3>

    </div>
  </div>

</div>
