<div *ngIf="childSelectedEntry">

<div class="form-control">
<h4>Edit {{childSelectedEntry.title}}</h4>
<label>Title:</label>
<input [(ngModel)]="childSelectedEntry.title">
<br>
<select [(ngModel)]="childSelectedEntry.type">
  <option [value]="Movie">Movie</option>
  <option [value]="Game">Game</option>
  <option [value]="Album">Album</option>
  <option [value]="Show">Show</option>
</select>
<br>
<label>Creator:</label>
<input [(ngModel)]="childSelectedEntry.creator">
<br>
<label>metascore:</label>
<input [(ngModel)]="childSelectedEntry.metascore">
<br>
<label>Release Date:</label>
<input [(ngModel)]="childSelectedEntry.releaseDate">
<br>
<label>Description:</label>
<input [(ngModel)]="childSelectedEntry.description">
<br>
<label>Creator:</label>
<input [(ngModel)]="childSelectedEntry.creator">
<br>
<label>Image URL:</label>
<input [(ngModel)]="childSelectedEntry.image">
<button (click)="finishedEditing()" class="btn btn-warning">Update</button>
</div>
</div>
