
<div *ngIf="selectedEntry">

<div class="form-control" style="text-align: center">
<h4>Edit {{selectedEntry.title}}</h4>
<label>Title:</label>
<input [(ngModel)]="selectedEntry.title">
<br>
<label>Type:</label>
<select [(ngModel)]="selectedEntry.type">
  <option [value]="Movie">Movie</option>
  <option [value]="Game">Game</option>
  <option [value]="Album">Album</option>
  <option [value]="Show">Show</option>
</select>
<br>
<label>Creator:</label>
<input [(ngModel)]="selectedEntry.creator">
<br>
<label>Metascore:</label>
<input [(ngModel)]="selectedEntry.metascore">
<br>
<label>Release Date:</label>
<input [(ngModel)]="selectedEntry.releaseDate">
<br>
<label>Description:</label>
<textarea [(ngModel)]="selectedEntry.description"></textarea>
<br>
<label>Image URL:</label>
<input [(ngModel)]="selectedEntry.image">
<hr style="border-color: gold">
<button (click)="beginUpdatingEntry(selectedEntry)" class="btn btn-outline-warning">Update</button>
</div>
</div>
